* {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica (sans-serif);
  
}


.navbar-logo img {
  border: 3px solid gray;
  border-radius: 50px;
  width:90%;
  
}

.navbar-logo {
  width:7%;
  background-color:rgb(42, 54, 54);
  display: flex;
  padding:2px 10px;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  font-weight: bold;
}


.navbar-brand:hover {
  cursor:pointer;
  color:rgba(0, 255, 255, 0.778);
}

.nav {
  display:inline-flex;
  justify-content: left;
  align-items: center;
  /* background-color: rgb(42, 54, 54); */
  width:50%;
  
}

.nav li {
  list-style: none;
  padding: 5px 1%;
}

.nav li a {
  text-decoration: none;
  font-family: monospace;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.nav li a:hover {
  text-decoration: none;
  color: rgba(0, 255, 255, 0.778);
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  cursor:pointer;
}

.mainbox {
  display:flex;
  margin:5%;
  
}

.accordion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Bold {
  font-weight: bold;
  text-decoration: underline;
}

.Topic {
  color: white;
}

.firstHalf {
  width:50%;
  background-color: rgb(42, 54, 54);
  color:rgba(0, 255, 255, 0.778);
  padding:5%;
  border-radius:10px;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  transition: 0.5s;
}

.firstHalf.active {
  display:none;
}

.firstHalf-selectors {
  display:flex;
  flex-direction: column;
  align-items: right;
}

.firstHalf-selector {
  display:flex;
  width:30px;
  height:40px;
  background-color: white;
}

.firstHalf-selector-1 {
  display:flex;
  width:30px;
  height:30px;
  /* transition: 0.5s; */
  background-color: rgb(42, 54, 54);
  color: rgba(0, 255, 255, 0.567);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.firstHalf-selector-2 {
  display:flex;
  width:30px;
  height:30px;
  align-items: right;
  background-color: rgba(0, 255, 255, 0.567);
  color: rgb(42, 54, 54);
  /* transition: 0.5s; */
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.firstHalf-selector-1.active {
  display:flex;
  width:30px;
  height:30px;
  align-items: right;
  background-color: rgba(0, 255, 255, 0.567);
  color: rgb(42, 54, 54);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.firstHalf-selector-2.active {
  display:flex;
  width:30px;
  height:30px;
  background-color: rgb(42, 54, 54);
  color:rgba(0, 255, 255, 0.567);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.firstHalfmodified {
  display:none;
  transition: 0.5s;
}

.firstHalfmodified.active {
  width:50%;
  background-color: rgb(42, 54, 54);
  color:rgba(0, 255, 255, 0.778);
  padding:5%;
  border-radius:10px;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  
}

.secondHalf {
  width:50%;
  background-color:rgba(0, 255, 255, 0.314);
  color:rgb(42, 54, 54);
  padding:5%;
  border-radius:10px;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
}

form input[type="number"] {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: rgb(42, 54, 54);
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
}

form input[type="text"] {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: rgb(42, 54, 54);
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
}

form input[type="email"] {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: rgb(42, 54, 54);
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
}

form input[type="date"] {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: rgb(42, 54, 54);
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
}


form input[type="radio"] {
  padding: 5px;
  margin: 5px 0px;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: rgb(42, 54, 54);
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
}

form textarea {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: rgb(42, 54, 54);
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
}

form .form-group {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin: 0px, 5px; */
}

.form-group-1 {
  margin: 0px, 5px;
  padding: 10px;
}


form {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#submit {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
  border: none;
  border-radius: 10px;
  background-color: rgb(42, 54, 54);
  color: white;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
}

#submit1 {
  width: 20%;
  padding: 5px;
  margin: 5px 0px;
  border: none;
  border-radius: 10px;
  background-color: #458282;
  color: white;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
}

#submit:hover {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
  border: none;
  border-radius: 10px;
  background-color: rgb(42, 54, 54);
  color: rgba(0, 255, 255, 0.567);
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#submit1:hover {
  width: 20%;
  padding: 5px;
  margin: 5px 0px;
  border: none;
  border-radius: 10px;
  background-color: #080a0a;
  color: #ffffff;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

footer p {
  display: flex;
  justify-content: center;
  padding:0px;
  margin:0px;
}

.accordion {
  width: 90%;
  max-width: 100%;
}

.accordion-item {
  
  background-color: rgba(0, 255, 255, 0.778);
  color: rgb(42, 54, 54);
  /* padding:5px; */
  margin: 5px;
  border-radius: 5px;
}

.accordion-item-header {
  display: flex;
  padding:1rem;
  /* background-color: bisque; */
  min-height:3.5rem;
  
  line-height:1.25rem;
  align-items: center;
  justify-content: space-between;
  position:relative;
  font-weight: bold;
  cursor: pointer;
}

.accordion-item-header:hover {
  background-color: #3ab4cc;
}

/* .accordion-item-header::after {
  content: "+";
  font-size: 1rem;
  color: rgb(42, 54, 54);
  position: absolute;
  right:1rem;
  
}

.accordion-item-header.active::after {
  content: "\2212";
  
} */

.accordion-item-body {
  display: none;
  min-height: 2.5rem;
  
  /* background-color: aliceblue; */
  /* margin: 5px; */
  
  border-top: 2px solid rgb(42, 54, 54);
  color: rgb(42, 54, 54);
  padding: 1rem;
  /* transition: display 0.2s ease-out; */
  
  /* margin: 0px 10px 10px 10px; */
  
}

.accordion-item-header.active + .accordion-item-body {
  display: block;
}

.redirect {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .new-page-Cover {
  width:90%;
  margin: 55px;
  border-radius: 10px;
  background-color: rgba(0, 255, 255, 0.567);
  display:flex;
  justify-content: center;
  align-items: center;
} */

.Contact-Us {
  margin: 5%;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: rgb(42, 54, 54);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 10px;
  border-style: solid;
  border-color: rgba(0, 255, 255, 0.778);
}

.About-Us {
  margin:50px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: rgb(42, 54, 54);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 10px;
  border-style: solid;
  border-color: rgba(0, 255, 255, 0.778);
}

.new-page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: monospace;
  font-size: 30px;
  font-weight: bold;
  color: rgba(0, 255, 255, 0.778);
}

.new-page-text {
  color:white;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;

}

.photo {
  float: left;
  display: flex;
  width:400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  color: white;
  /* text-align: center; */
  font-size: large;
  font-weight: bold;
  /* background-color: bisque; */
}

.pps-photo {
  /* width:80%;
  height:80%; */
  cursor: pointer;
  border-style: solid;
  border-color: rgba(0, 255, 255, 0.778);
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: rgb(42, 54, 54);
}

.contact-us-photos {
  display: flex;
  flex-direction: row;
}

.abc{
  width: 20%;
  height: 20%;
  margin: 20px;
}